:root {
  --base-02: #f8fafc; /* example */
  --blue-gray400: #94a3b8;

  --body-base-font-family: "Inter", sans-serif;
  --bold-13px-font-family: "Roboto", sans-serif;
  --bold-52px-font-family: "Poppins", sans-serif;
  --regular-13px-font-family: "Roboto", sans-serif;
  --roboto-bold-font-family: "Roboto Bold", sans-serif;
  --roboto-medium-font-family: "Roboto Medium", sans-serif;
  --semantic-cell-font-family: "Arial", sans-serif;
  --semantic-data-font-family: "Verdana", sans-serif;
  --single-line-body-base-font-family: "Inter", sans-serif;
}
